<!-- <h1>my display{{message}}</h1> -->
{% extends 'base.html'%} {% block content %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
<br>
<br>
<br>
<body>

  <div class="main">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card-column">
            <div class="card-header">
              <h4>Get All News Here</h4>
              <h4>Home all Top news</h4>
            </div>
            <div class="list-group list-group-flush scrolly">
              <ul>
                {% for source in sources %}
                <a href="/article/{{source.id}}">
                  <p class="text-capitalize text-muted">{{source.id}}</p>
                </a>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>

        <div class="col-9">
          <h1 align="center">JUST-IN TOP NEWS </h3>
           
          <div class="container">
            <h5>FROM ALL OVER THE WORLD</h5>
            <div class="card-columns">
              {% for headline in headlines %}

              <div class="card">
                <img class="card" src="{{headline.image}}" alt="Card image cap" size="100px180">
                <div class="card-body">
                  <h5 class="card-title">{{headline.author}}</h5>
                  <p class="card-text">{{headline.description}}</p>
                  <a href="{{headline.url}}">
                    <p class="card-text">Click here for more details!</p>
                  </a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Publish date:{{headline.time}}</small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

{% endblock %}
